body {
    font-family: 'Inria Serif', serif;
    background-color: black;
    color: azure;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
}

#bodi{
    overflow: hidden;
    
}

#contacto{
    display: flex;
    width: 100%;
    justify-content:center;
    margin-top: 5vh;
    gap: 5vh;
}

#guala{
    transition: color 0.1s ease;
    width: 50%;
}

#guala:hover{
    transition: color 0.1s ease;
    color: rgba(255, 255, 255, 0);
    background-image: url(Nombre.png);
    background-repeat: no-repeat; 
    background-position: 50% 50%;  
    background-size:70vw;
}

#parrafo{
    width: 80%;
}


h1 {
    font-size: 20vw;
    letter-spacing: -8%; 
    line-height: 0.8;
    margin: 0;
    background-image: url(Yo.gif);
    background-repeat: no-repeat; 
    background-size: 200vw;      
    background-position: 40% 20%;  
}

p{
    font-size: 4.5vw;
    line-height: 0.8;
    margin: 1vh;
        margin-left: 8vh;
}

a{
    font-size: 3vh;
    text-decoration: none;
    color: azure;
    transition: color 0.3s ease;
}

a:hover { 
    color:rgb(255, 153, 0);
}

@media (max-width:500px) {

    #parrafo{
        width: 90%;
    }
    
    h1{
        font-size: 34vw;
        background-size: 300vw;      
        background-position: 40% 30%;  
    }

    p{
        font-size: 4vh;
    }

}
