body {
    font-family: 'Inria Serif', serif;
    background-color: black;
    color: azure;
    display: block;
    margin: 0;
    transition: all 0.5s ease;
}

img{
    width: 100%;
}

#bodi{
    overflow: hidden;
    padding: 0 2vw;
}

#works{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

h1 {
    font-size: 20vw;
    letter-spacing: -8%; 
    line-height: 0.8;
    margin: 0;
    background-image: url(Yo01.gif);
    background-repeat: no-repeat; 
    background-size: 200vw;      
    background-position: 40% 20%;  
}

h2{
    font-size: 3vw;
    margin: 1vw;
    margin-top: 0;
}

p{
    font-size: 1.5vw;
    line-height: 1.2;
    margin: 2vh;
}

#guala{
    transition: color 0.1s ease;
    width: 50%;
}

#guala:hover{
    transition: color 0.1s ease;
    color: rgba(255, 255, 255, 0);
    background-image: url(Nombre.png);
    background-repeat: no-repeat; 
    background-position: 50% 50%;  
    background-size:70vw;
}

#statment{
    font-size: 4.5vw;
}


/* Default project layout */
.projecto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    position: relative;
    transition: all 0.5s ease;
    flex: 0 0 calc(75% - 1vw); 
    border: 1px solid #ccc;
    border-radius: 16px;
    overflow: clip;
    /*background-color: rgb(74 74 74 / 42%);*/
}

.projecto .textoProjecto{
    margin: 1vw;
    /*width: 120%;*/
}

.projecto .ContenedorImgProjecto{
    overflow: hidden;
    justify-content: center;
    display: flex;
    width: 80%;
}
.projecto .ContenedorImgProjecto img{
    object-fit: cover;
    aspect-ratio: 1/1;
}

.projecto p {
    margin: 1vw;
}

.separador{
    margin: auto;
    margin-right: 1vh;
    margin-left: 1vh;
    height: auto;
}

/*#cementerio {
    /*background-image: url(cementerio/003.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/

#contacto{
    display: flex;
    /*grid-template-columns: repeat(3, 1fr);*/
    margin: 5vh;
    gap: 2vh;
    justify-content: center;
}

#parrafo{
    width: 80%;
}

a{
    font-size: 2.5vw;
    text-decoration: none;
    color: azure;
    transition: color 0.3s ease;
}

a:hover { 
    color:rgb(255, 153, 0);
}


/* Responsive styles */
@media (max-width:700px) {
    #parrafo{
        width: 90%;
    }
    
    h1{
        font-size: 34vw;
        background-size: 300vw;      
        background-position: 40% 30%;  
    }

    h2{
        margin: 3vw;
        font-size: 4vh;
    }

    #statment{
        font-size: 4vh;
    }

    a{
        font-size: 2.5vh;
    }

    p{
        font-size: 2vh;
        margin-left: 2vh;
    }
    .projecto{
        display: flow-root;
        flex: 0 0 calc(95% - 1vw);
    }

    .projecto p{
        margin: 2vw;
    }
    .projecto .textoProjecto{
        margin-bottom: 3vh;

    }

    .projecto .ContenedorImgProjecto{
        width: 100%;
    }

    .projecto .ContenedorImgProjecto img{
        aspect-ratio: 5/4;
    }
    

    #works{
        padding: 0;
    }
}