body {
    font-family: 'Inria Serif', serif;
    background-color: black;
    color: azure;
    display: block;
    margin: 0;
    transition: all 0.3s ease;
}

img{
    width: 100%;
}

#bodi{
    overflow: hidden;
}
    h1 {
        font-size: 20vw;
        letter-spacing: -8%; 
        line-height: 0.8;
        margin: 0;
        background-image: url(Yo01.gif);
        background-repeat: no-repeat; 
        background-size: 200vw;      
        background-position: 40% 20%;  
    }

    p{
        font-size: 4.5vw;
        line-height: 0.8;
        margin: 1vh;
            margin-left: 8vh;
    }

    #guala{
        transition: color 0.1s ease;
        width: 50%;
    }

    #guala:hover{
        transition: color 0.1s ease;
        color: rgba(255, 255, 255, 0);
        background-image: url(Nombre.png);
        background-repeat: no-repeat; 
        background-position: 50% 50%;  
        background-size:70vw;
    }

    .projecto{
        display: grid;
        width: 100%;
        grid-template-columns: 2 3;
    }

    #profileCementerio{
        grid-row: 1/-1;
    }

    #contacto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 5vh;
        gap: 5vh;
        text-align: center;
    }

        #mail{
            grid-column: 1/-1;
            
        }



    #parrafo{
        width: 80%;
    }

    #cementerio{
        background-image: url();
    }

    a{
        font-size: 2.5vw;
        text-decoration: none;
        color: azure;
        transition: color 0.3s ease;
    }

    a:hover { 
        color:rgb(255, 153, 0);
    }

    @media (max-width:500px) {

        #parrafo{
            width: 90%;
        }
        
        h1{
            font-size: 34vw;
            background-size: 300vw;      
            background-position: 40% 30%;  
        }

        p{
            font-size: 4vh;
        }

        a{
            font-size: 2.5vh;
        }

    }
